
<div id="betslipBar" class="Header" data-multichange="0">
	<div id="betslipBarContent" data-nav="bs_goto">
	    <div>
            <span id="fallbackBetslipBarText">Cupón</span>
		    <span id="SelectionCount">0</span>
        </div>
	</div>
</div> 
    
<div id="Header" class="breadcrumbHeader V6">
    <div id="HeaderInner">
        <div id="HeaderBack" data-nav="back"><img src="grfx/V6/Misc/pixel.gif" class="backArrow"></div>
        <div id="HeaderTitle">
            <div id="breadcrumb">
                <div>
                    
                    <span id="breadcrumbClassification" data-nav="Splash" data-cid="1">Fútbol / </span>
                    <span id="breadcrumbCompetition" class="" data-nav="" data-sportsKey="1-1-13-34343042-2-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0">UEFA Champions League</span> 
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    if (window.b365Mobile.coupon) {
        b365Mobile.coupon.setBreadcrumbScroller();
    }
</script>
    
       
    <div >
            
            
            
            <div id="LoadZone">
                
    <div class=" V6 PreMatch">
        
<div class="UnavailablePopup Hidden">
    <div ID="UnavailablePopup_label">This selection is unavailable for this match</div>
    <div class="UnavailablePopup_nib"></div>
</div>
        

        

<!-- C4.1 in-play enabled -->
<script type="text/javascript">
    if (window.prematchHandlers) {
        window.prematchHandlers.addHandlers();
    }
</script>
<div id="Coupon" class="C4 C4_1">
	
	
	
                <div class="liveAlertKey enhancedPod cc_17_0 forceopen" data-sportskey="1-1-13-34343042-2-0-0-0-1-0-0-4100-0-0-1-0-0-0-0-0-0" data-alertkey="">
					<h1>
						<em>
							Resultado final
							
								<button id="btnChangeMarket" class="changeMarketButton" data-nav="CouponMarketPopOut">
									Cambiar</button>
							
						</em>
					</h1>
					
							
								<div class="podHeaderRow">
									<div class="wideLeftColumn">Mar. 31 Oct</div>
									
											<div class="priceColumn"><em>1</em></div>
										
											<div class="priceColumn"><em>X</em></div>
										
											<div class="priceColumn"><em>2</em></div>
										
								</div>
							

							<div data-fixtureid='67976804' data-plbtid='40' class='podEventRow cc_34_2 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67976804-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67976804-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">Atlético de Madrid</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">FK Qarabag</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330494&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=1/9#f=67976804#fp=1444904183#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904183"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">1.11</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=7/1#f=67976804#fp=1444904184#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904184"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">8.00</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=22/1#f=67976804#fp=1444904185#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904185"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">23.00</span>
                                        </div>
									
							</div> 
                        
						
							

							<div data-fixtureid='67976795' data-plbtid='40' class='podEventRow cc_65_2 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67976795-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67976795-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">Basilea</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">CSKA Moscú</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330430&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=4/5#f=67976795#fp=1444904053#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904053"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">1.80</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=14/5#f=67976795#fp=1444904054#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904054"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">3.80</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=3/1#f=67976795#fp=1444904055#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904055"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">4.00</span>
                                        </div>
									
							</div> 
                        
						
							

							<div data-fixtureid='67976801' data-plbtid='40' class='podEventRow cc_65_8 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67976801-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67976801-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">Celtic</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">Bayern de Múnich</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330454&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=9/1#f=67976801#fp=1444904148#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904148"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">10.00</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=5/1#f=67976801#fp=1444904149#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904149"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">6.00</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=1/4#f=67976801#fp=1444904150#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904150"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">1.25</span>
                                        </div>
									
							</div> 
                        
						
							

							<div data-fixtureid='67976797' data-plbtid='40' class='podEventRow cc_4_4 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67976797-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67976797-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">Manchester United</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">Benfica</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330432&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=3/10#f=67976797#fp=1444904086#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904086"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">1.30</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=4/1#f=67976797#fp=1444904087#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904087"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">5.00</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=9/1#f=67976797#fp=1444904088#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904088"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">10.00</span>
                                        </div>
									
							</div> 
                        
						
							

							<div data-fixtureid='67976812' data-plbtid='40' class='podEventRow cc_12_1 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67976812-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67976812-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">Olympiacos</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">Barcelona</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330510&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=12/1#f=67976812#fp=1444904268#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904268"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">13.00</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=6/1#f=67976812#fp=1444904270#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904270"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">7.00</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=2/11#f=67976812#fp=1444904272#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904272"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">1.18</span>
                                        </div>
									
							</div> 
                        
						
							

							<div data-fixtureid='67976799' data-plbtid='40' class='podEventRow cc_76_6 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67976799-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67976799-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">Paris St. Germain</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">Anderlecht</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330452&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=1/20#f=67976799#fp=1444904109#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904109"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">1.05</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=12/1#f=67976799#fp=1444904110#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904110"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">13.00</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=25/1#f=67976799#fp=1444904111#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904111"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">26.00</span>
                                        </div>
									
							</div> 
                        
						
							

							<div data-fixtureid='67976806' data-plbtid='40' class='podEventRow cc_12_4 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67976806-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67976806-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">Roma</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">Chelsea</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330496&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=31/20#f=67976806#fp=1444904198#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904198"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">2.55</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=12/5#f=67976806#fp=1444904199#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904199"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">3.40</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=13/8#f=67976806#fp=1444904200#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904200"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">2.62</span>
                                        </div>
									
							</div> 
                        
						
							

							<div data-fixtureid='67976809' data-plbtid='40' class='podEventRow cc_4_7 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67976809-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67976809-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">Sporting de Lisboa</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">Juventus</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330508&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=11/4#f=67976809#fp=1444904215#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904215"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">3.75</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=12/5#f=67976809#fp=1444904216#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904216"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">3.40</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=1/1#f=67976809#fp=1444904217#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444904217"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">2.00</span>
                                        </div>
									
							</div> 
                        
						
							
								<div class="podHeaderRow">
									<div class="wideLeftColumn">Mié. 01 Nov</div>
									
											<div class="priceColumn"><em>1</em></div>
										
											<div class="priceColumn"><em>X</em></div>
										
											<div class="priceColumn"><em>2</em></div>
										
								</div>
							

							<div data-fixtureid='67965108' data-plbtid='40' class='podEventRow cc_17_6 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67965108-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67965108-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">Besiktas</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">Mónaco</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330576&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=13/10#f=67965108#fp=1444488413#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488413"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">2.30</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=13/5#f=67965108#fp=1444488414#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488414"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">3.60</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=15/8#f=67965108#fp=1444488415#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488415"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">2.87</span>
                                        </div>
									
							</div> 
                        
						
							

							<div data-fixtureid='67965102' data-plbtid='40' class='podEventRow cc_17_0 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67965102-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67965102-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">Borussia Dortmund</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">Apoel Nicosia</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330602&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=1/10#f=67965102#fp=1444488336#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488336"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">1.10</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=9/1#f=67965102#fp=1444488337#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488337"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">10.00</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=18/1#f=67965102#fp=1444488338#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488338"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">19.00</span>
                                        </div>
									
							</div> 
                        
						
							

							<div data-fixtureid='67965112' data-plbtid='40' class='podEventRow cc_12_1 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67965112-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67965112-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">FC Porto</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">RB Leipzig</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330578&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=23/20#f=67965112#fp=1444488451#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488451"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">2.15</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=12/5#f=67965112#fp=1444488452#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488452"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">3.40</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=23/10#f=67965112#fp=1444488453#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488453"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">3.30</span>
                                        </div>
									
							</div> 
                        
						
							

							<div data-fixtureid='67965110' data-plbtid='40' class='podEventRow cc_34_8 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67965110-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67965110-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">Liverpool</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">NK Maribor</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330534&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=1/33#f=67965110#fp=1444488431#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488431"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">1.03</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=14/1#f=67965110#fp=1444488432#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488432"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">15.00</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=33/1#f=67965110#fp=1444488433#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488433"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">34.00</span>
                                        </div>
									
							</div> 
                        
						
							

							<div data-fixtureid='67965106' data-plbtid='40' class='podEventRow cc_12_4 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67965106-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67965106-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">Napoli</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">Manchester City</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330556&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=8/5#f=67965106#fp=1444488386#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488386"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">2.60</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=13/5#f=67965106#fp=1444488387#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488387"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">3.60</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=6/4#f=67965106#fp=1444488388#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488388"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">2.50</span>
                                        </div>
									
							</div> 
                        
						
							

							<div data-fixtureid='67965117' data-plbtid='40' class='podEventRow cc_76_6 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67965117-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67965117-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">Sevilla</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">Spartak Moscú</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330532&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=4/9#f=67965117#fp=1444488531#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488531"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">1.44</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=15/4#f=67965117#fp=1444488534#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488534"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">4.75</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=5/1#f=67965117#fp=1444488535#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488535"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">6.00</span>
                                        </div>
									
							</div> 
                        
						
							

							<div data-fixtureid='67965104' data-plbtid='40' class='podEventRow cc_34_2 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67965104-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67965104-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">Shakhtar Donetsk</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">Feyenoord</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330558&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=4/11#f=67965104#fp=1444488355#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488355"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">1.36</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=4/1#f=67965104#fp=1444488360#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488360"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">5.00</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=13/2#f=67965104#fp=1444488362#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488362"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">7.50</span>
                                        </div>
									
							</div> 
                        
						
							

							<div data-fixtureid='67965114' data-plbtid='40' class='podEventRow cc_17_3 ippg-Market ' data-nav='rw_spl_sc_1-1-8-67965114-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,MarketCount,1-1-8-67965114-3-0-0-0-1-0-0-0-0-0-1-0-0-0-0-0-0,False,1' >
							<div class="wideLeftColumn hasStatsIcon">
							    <div class="ippg-Market_GameDetail">
							        <div class="ippg-Market_GameItem ">
							            <div class="ippg-Market_CompetitorName">
							                <span class="ippg-Market_Truncator">Tottenham</span>
							            </div>
                                        <div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
							        </div>
                                    <div class="ippg-Market_GameItem ">
                                        <div class="ippg-Market_CompetitorName">
                                            <span class="ippg-Market_Truncator">Real Madrid</span>
                                        </div><div class="ippg-Market_CompetitorScores">
                                            <span class="ippg-PointNode"></span>
                                        </div>
                                    </div>
                                    <div class="ippg-Market_MetaContainer ">									
                                        <div class="ippg-Market_GameStartTime">20:45</div>							            
                                        <div class="ippg-Market_GameInfo ">			  								
										</div>
                                        
									        <div class="ippg-Market_MarketCount">72</div>
								        
                                        
    <div id="FixtureIconsContainer">
    
    </div>
	<div id="StatsIconContainer">
    	<a class="icon-stats" target="_blank" data-nav="externalLink" href="http://www.stats.betradar.com/s4/?clientid=259&matchid=12330604&language=es"></a>
	</div>


							        </div>
							    </div>
                            </div>
							
							
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=2/1#f=67965114#fp=1444488478#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488478"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">3.00</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=13/5#f=67965114#fp=1444488479#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488479"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">3.60</span>
                                        </div>
									
                                        <div class="ippg-Market_Topic priceColumn" 
                                              data-nav="pt=N#o=6/5#f=67965114#fp=1444488480#so=0#c=1#" 
                                             data-inplaytopic=""
                                             data-pgfpId="1444488480"
                                             data-inplaymarkettopic="" 
                                             data-inplayaltmarkettopic="" >
                                            <span class="ippg-Market_Odds">2.20</span>
                                        </div>
									
							</div> 
                        
						
				</div>
			
        <div class="menuPopOut">
            <ul>
    
                <li class="cc_76_6">
                    
                       <span class="selected">Resultado final</span>
                    
                    
                </li>
    
                <li class="cc_34_2">
                    
                    
                        <span data-nav="couponLink" data-sportskey="1-1-195-34343042-2-3-0-0-1-0-0-4105-0-0-1-0-0-0-0-0-0">Doble oportunidad</span>
                    
                </li>
    
                <li class="cc_34_2">
                    
                    
                        <span data-nav="couponLink" data-sportskey="1-1-56-34343042-2-3-0-0-1-0-0-4050-0-0-1-0-0-0-0-0-0">Goles - Más/Menos de</span>
                    
                </li>
    
                <li class="cc_17_6">
                    
                    
                        <span data-nav="couponLink" data-sportskey="1-1-170-34343042-2-3-0-0-1-0-0-4052-0-0-1-0-0-0-0-0-0">Ambos equipos anotarán</span>
                    
                </li>
    
                <li class="cc_76_3">
                    
                    
                        <span data-nav="couponLink" data-sportskey="1-1-587-34343042-2-3-0-0-1-0-0-4160-0-0-1-0-0-0-0-0-0">Resultado/Ambos equipos anotarán</span>
                    
                </li>
    
                <li class="cc_17_0">
                    
                    
                        <span data-nav="couponLink" data-sportskey="1-1-14-34343043-2-3-0-0-1-0-0-4085-0-0-1-0-0-0-0-0-0">Hándicap asiático y línea de gol</span>
                    
                </li>
    
                <li class="cc_76_3">
                    
                    
                        <span data-nav="couponLink" data-sportskey="1-1-487-34343043-2-3-0-0-1-0-0-4085-0-0-1-0-0-0-0-0-0">1ª mitad - Hándicaps asiáticos</span>
                    
                </li>
    
                <li class="cc_34_8">
                    
                    
                        <span data-nav="couponLink" data-sportskey="1-1-197-34343042-2-3-0-0-1-0-0-4053-0-0-1-0-0-0-0-0-0">Empate, apuesta no válida</span>
                    
                </li>
    
                <li class="cc_65_8">
                    
                    
                        <span data-nav="couponLink" data-sportskey="1-1-126-34343042-2-3-0-0-1-0-0-4051-0-0-1-0-0-0-0-0-0">Goles - Impar/Par</span>
                    
                </li>
    
            </ul>
        </div>
        <div class="menuPopOutPointer">
        </div>
        <script type="text/javascript">

            // b365Mobile.coupon.positionChangeMarketLink();

        </script>
    

	
	
	
	<div class="qb-JsonData" style="display:none;"><script type="text/b365data">{"F":[{"CL":null,"FD":"Atlético de Madrid v FK Qarabag","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"Atlético de Madrid","ID":1444904183,"BS":"pt=N#o=1/9#f=67976804#fp=1444904183#so=0#c=1#","US":false},{"PD":"Empate","ID":1444904184,"BS":"pt=N#o=7/1#f=67976804#fp=1444904184#so=0#c=1#","US":false},{"PD":"FK Qarabag","ID":1444904185,"BS":"pt=N#o=22/1#f=67976804#fp=1444904185#so=0#c=1#","US":false}]}]},{"CL":null,"FD":"Basilea v CSKA Moscú","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"Basilea","ID":1444904053,"BS":"pt=N#o=4/5#f=67976795#fp=1444904053#so=0#c=1#","US":false},{"PD":"Empate","ID":1444904054,"BS":"pt=N#o=14/5#f=67976795#fp=1444904054#so=0#c=1#","US":false},{"PD":"CSKA Moscú","ID":1444904055,"BS":"pt=N#o=3/1#f=67976795#fp=1444904055#so=0#c=1#","US":false}]}]},{"CL":null,"FD":"Celtic v Bayern de Múnich","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"Celtic","ID":1444904148,"BS":"pt=N#o=9/1#f=67976801#fp=1444904148#so=0#c=1#","US":false},{"PD":"Empate","ID":1444904149,"BS":"pt=N#o=5/1#f=67976801#fp=1444904149#so=0#c=1#","US":false},{"PD":"Bayern de Múnich","ID":1444904150,"BS":"pt=N#o=1/4#f=67976801#fp=1444904150#so=0#c=1#","US":false}]}]},{"CL":null,"FD":"Manchester United v Benfica","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"Manchester United","ID":1444904086,"BS":"pt=N#o=3/10#f=67976797#fp=1444904086#so=0#c=1#","US":false},{"PD":"Empate","ID":1444904087,"BS":"pt=N#o=4/1#f=67976797#fp=1444904087#so=0#c=1#","US":false},{"PD":"Benfica","ID":1444904088,"BS":"pt=N#o=9/1#f=67976797#fp=1444904088#so=0#c=1#","US":false}]}]},{"CL":null,"FD":"Olympiacos v Barcelona","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"Olympiacos","ID":1444904268,"BS":"pt=N#o=12/1#f=67976812#fp=1444904268#so=0#c=1#","US":false},{"PD":"Empate","ID":1444904270,"BS":"pt=N#o=6/1#f=67976812#fp=1444904270#so=0#c=1#","US":false},{"PD":"Barcelona","ID":1444904272,"BS":"pt=N#o=2/11#f=67976812#fp=1444904272#so=0#c=1#","US":false}]}]},{"CL":null,"FD":"Paris St. Germain v Anderlecht","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"Paris St. Germain","ID":1444904109,"BS":"pt=N#o=1/20#f=67976799#fp=1444904109#so=0#c=1#","US":false},{"PD":"Empate","ID":1444904110,"BS":"pt=N#o=12/1#f=67976799#fp=1444904110#so=0#c=1#","US":false},{"PD":"Anderlecht","ID":1444904111,"BS":"pt=N#o=25/1#f=67976799#fp=1444904111#so=0#c=1#","US":false}]}]},{"CL":null,"FD":"Roma v Chelsea","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"Roma","ID":1444904198,"BS":"pt=N#o=31/20#f=67976806#fp=1444904198#so=0#c=1#","US":false},{"PD":"Empate","ID":1444904199,"BS":"pt=N#o=12/5#f=67976806#fp=1444904199#so=0#c=1#","US":false},{"PD":"Chelsea","ID":1444904200,"BS":"pt=N#o=13/8#f=67976806#fp=1444904200#so=0#c=1#","US":false}]}]},{"CL":null,"FD":"Sporting de Lisboa v Juventus","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"Sporting de Lisboa","ID":1444904215,"BS":"pt=N#o=11/4#f=67976809#fp=1444904215#so=0#c=1#","US":false},{"PD":"Empate","ID":1444904216,"BS":"pt=N#o=12/5#f=67976809#fp=1444904216#so=0#c=1#","US":false},{"PD":"Juventus","ID":1444904217,"BS":"pt=N#o=1/1#f=67976809#fp=1444904217#so=0#c=1#","US":false}]}]},{"CL":null,"FD":"Besiktas v Mónaco","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"Besiktas","ID":1444488413,"BS":"pt=N#o=13/10#f=67965108#fp=1444488413#so=0#c=1#","US":false},{"PD":"Empate","ID":1444488414,"BS":"pt=N#o=13/5#f=67965108#fp=1444488414#so=0#c=1#","US":false},{"PD":"Mónaco","ID":1444488415,"BS":"pt=N#o=15/8#f=67965108#fp=1444488415#so=0#c=1#","US":false}]}]},{"CL":null,"FD":"Borussia Dortmund v Apoel Nicosia","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"Borussia Dortmund","ID":1444488336,"BS":"pt=N#o=1/10#f=67965102#fp=1444488336#so=0#c=1#","US":false},{"PD":"Empate","ID":1444488337,"BS":"pt=N#o=9/1#f=67965102#fp=1444488337#so=0#c=1#","US":false},{"PD":"Apoel Nicosia","ID":1444488338,"BS":"pt=N#o=18/1#f=67965102#fp=1444488338#so=0#c=1#","US":false}]}]},{"CL":null,"FD":"FC Porto v RB Leipzig","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"FC Porto","ID":1444488451,"BS":"pt=N#o=23/20#f=67965112#fp=1444488451#so=0#c=1#","US":false},{"PD":"Empate","ID":1444488452,"BS":"pt=N#o=12/5#f=67965112#fp=1444488452#so=0#c=1#","US":false},{"PD":"RB Leipzig","ID":1444488453,"BS":"pt=N#o=23/10#f=67965112#fp=1444488453#so=0#c=1#","US":false}]}]},{"CL":null,"FD":"Liverpool v NK Maribor","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"Liverpool","ID":1444488431,"BS":"pt=N#o=1/33#f=67965110#fp=1444488431#so=0#c=1#","US":false},{"PD":"Empate","ID":1444488432,"BS":"pt=N#o=14/1#f=67965110#fp=1444488432#so=0#c=1#","US":false},{"PD":"NK Maribor","ID":1444488433,"BS":"pt=N#o=33/1#f=67965110#fp=1444488433#so=0#c=1#","US":false}]}]},{"CL":null,"FD":"Napoli v Manchester City","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"Napoli","ID":1444488386,"BS":"pt=N#o=8/5#f=67965106#fp=1444488386#so=0#c=1#","US":false},{"PD":"Empate","ID":1444488387,"BS":"pt=N#o=13/5#f=67965106#fp=1444488387#so=0#c=1#","US":false},{"PD":"Manchester City","ID":1444488388,"BS":"pt=N#o=6/4#f=67965106#fp=1444488388#so=0#c=1#","US":false}]}]},{"CL":null,"FD":"Sevilla v Spartak Moscú","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"Sevilla","ID":1444488531,"BS":"pt=N#o=4/9#f=67965117#fp=1444488531#so=0#c=1#","US":false},{"PD":"Empate","ID":1444488534,"BS":"pt=N#o=15/4#f=67965117#fp=1444488534#so=0#c=1#","US":false},{"PD":"Spartak Moscú","ID":1444488535,"BS":"pt=N#o=5/1#f=67965117#fp=1444488535#so=0#c=1#","US":false}]}]},{"CL":null,"FD":"Shakhtar Donetsk v Feyenoord","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"Shakhtar Donetsk","ID":1444488355,"BS":"pt=N#o=4/11#f=67965104#fp=1444488355#so=0#c=1#","US":false},{"PD":"Empate","ID":1444488360,"BS":"pt=N#o=4/1#f=67965104#fp=1444488360#so=0#c=1#","US":false},{"PD":"Feyenoord","ID":1444488362,"BS":"pt=N#o=13/2#f=67965104#fp=1444488362#so=0#c=1#","US":false}]}]},{"CL":null,"FD":"Tottenham v Real Madrid","FB":false,"ML":[{"MD":"Resultado final","PI":40,"PL":[{"PD":"Tottenham","ID":1444488478,"BS":"pt=N#o=2/1#f=67965114#fp=1444488478#so=0#c=1#","US":false},{"PD":"Empate","ID":1444488479,"BS":"pt=N#o=13/5#f=67965114#fp=1444488479#so=0#c=1#","US":false},{"PD":"Real Madrid","ID":1444488480,"BS":"pt=N#o=6/5#f=67965114#fp=1444488480#so=0#c=1#","US":false}]}]}]}</script></div>
</div>

        
        
<div class="enhancedPod cc_17_3">
    <h1><em>Mercados relacionados
</em></h1>
    <div class="eventWrapper">
        
                <div class="colOne podSplashRow " cc_65_5" data-nav="couponLink" data-sportsKey="1-172-1-33380644-2-0-0-0-2-0-0-4063-0-0-1-0-0-0-0-0-0"><span>Ganador final</span></div>
            
                <div class="  podSplashRow " cc_17_0" data-nav="couponLink" data-sportsKey="1-172-1-34340749-2-0-0-0-2-0-0-4063-0-0-1-0-0-0-0-0-0"><span>Máximo goleador</span></div>
            
                <div class="colOne podSplashRow " cc_12_7" data-nav="couponLink" data-sportsKey="1-172-1-34342302-2-0-0-0-2-0-0-4063-0-0-1-0-0-0-0-0-0"><span>Apuestas al grupo</span></div>
            
                <div class="  podSplashRow " cc_4_1" data-nav="couponLink" data-sportsKey="1-172-1-34429220-2-0-0-0-2-0-0-4061-0-0-1-0-0-0-0-0-0"><span>Grupo - Clasificación - Sí/No</span></div>
            
                <div class="colOne podSplashRow lastWideRow lastRow" cc_17_3" data-nav="couponLink" data-sportsKey="1-172-1-33463989-2-0-0-0-2-0-0-4063-0-0-1-0-0-0-0-0-0"><span>Nacionalidad del ganador</span></div>
            
                <div class="  podSplashRow lastWideRow lastRow" cc_17_0" data-nav="couponLink" data-sportsKey="1-172-1-34349719-2-0-0-0-2-0-0-4063-0-0-1-0-0-0-0-0-0"><span>Premier League Equipos</span></div>
            
         
    </div>
   
</div>

        <input id="AutoRefresh" type="hidden" value="" />
        <input id="SortRefreshKey" type="hidden" value="1-1-13-34343042-2-3-0-0-1-0-0-4100-0-0-1-0-0-0-0-0-0" />
        <input id="CpKey" type="hidden" value="1-1-13-34343042-2-3-0-0-1-0-0-4100-0-0-1-0-0-0-0-0-0" />
    </div>

            </div>
            <div id="LeagueTableContainer" class="LeagueTableContainer"><script type="text/b365data" id="LeagueTableData" data-topic="#AC#B1#C1#D13#E34343042#F2#R1#W^3">F|EV;IT=#AC#B1#C1#D13#E34343042#F2#R1#W^3;CL=1;ID=EV-LSLT;PD=#AC#B1#C1#D13#E34343042#F2#R1#W^3;|TG;TP=BS;IT=EV-LSLT-TG;|TE;IT=QF202415;NA=Grupo A;|TE;IT=QM78;NA=Apuestas al grupo;|TE;IT=QM50479;NA=Grupo - Clasificación - Sí/No;|TE;IT=QF202416;NA=Grupo B;|TE;IT=QF202417;NA=Grupo C;|TE;IT=QF202418;NA=Grupo D;|TE;IT=QF202419;NA=Grupo E;|TE;IT=QF202420;NA=Grupo F;|TE;IT=QF202421;NA=Grupo G;|TE;IT=QF202422;NA=Grupo H;|MG;ID=SLG;NA=Clasificación;SY=csb;LP=1;IT=LTMGP;TP=20170824190158;|MA;OR=0;SY=CKM;PY=ckt;IT=LTMAH;NA=;|PA;ID=1;IT=LTMAHP0;OR=0;NA=Ganador del grupo;|PA;ID=1;IT=LTMAHP1;OR=1;NA=Se clasificará;|PA;ID=1;IT=LTMAHP2;OR=2;NA=No clasificará;|MA;ID=1057;OR=1;IT=LTMASTH1;SY=CKB;PY=ckb;NA=Grupo A,P,W,D,L,GS,+/-,Pts;|PA;ID=178;NA=1,Manchester United,3,3,0,0,8,7,9;OR=0;PD=;IT=LTPA178;ED=;EX=0;SU=0;|PA;ID=326;NA=2,Basilea,3,2,0,1,7,4,6;OR=1;PD=;IT=LTPA326;ED=;EX=0;SU=0;|PA;ID=7165;NA=3,CSKA Moscú,3,1,0,2,3,-4,3;OR=2;PD=;IT=LTPA7165;ED=;EX=1;SU=0;|PA;ID=277;NA=4,Benfica,3,0,0,3,1,-7,0;OR=3;PD=;IT=LTPA277;ED=;EX=1;SU=0;|MA;ID=78;OR=2;D1=0;SY=CKC;PY=b;IT=LTMA78-2;GR=202415;NA=Ganador del grupo;|PA;IT=LTPA1384819979;OR=0;ID=1384819979;ID=1384819979;OD=1/33;BS=Manchester United;FI=66713179;|PA;IT=LTPA1384819980;OR=1;ID=1384819980;ID=1384819980;OD=12/1;BS=Basilea;FI=66713179;|PA;IT=LTPA1384819981;OR=2;ID=1384819981;ID=1384819981;OD=33/1;BS=CSKA Moscú;FI=66713179;|PA;IT=LTPA1384819977;OR=3;ID=1384819977;ID=1384819977;OD=250/1;BS=Benfica;FI=66713179;|MA;ID=50479;OR=3;D1=1;SY=CKC;PY=b;IT=LTMA50479-3;GR=202415;NA=Se clasificará;|PA;IT=LTPA1392750443;OR=0;ID=1392750443;ID=1392750443;OD=1/500;BS=Sí;FI=66857513;|PA;IT=LTPA1393293753;OR=1;ID=1393293753;ID=1393293753;OD=2/7;BS=Sí;FI=66865212;|PA;IT=LTPA1393293755;OR=2;ID=1393293755;ID=1393293755;OD=11/4;BS=Sí;FI=66865213;|PA;IT=LTPA1392778119;OR=3;ID=1392778119;ID=1392778119;OD=7/1;BS=Sí;FI=66857723;|MA;ID=50479;OR=4;D1=2;SY=CKC;PY=b;IT=LTMA50479-4;GR=202415;NA=No clasificará;|PA;IT=LTPA1392750444;OR=0;ID=1392750444;ID=1392750444;OD=50/1;BS=No;FI=66857513;|PA;IT=LTPA1393293754;OR=1;ID=1393293754;ID=1393293754;OD=5/2;BS=No;FI=66865212;|PA;IT=LTPA1393293756;OR=2;ID=1393293756;ID=1393293756;OD=1/4;BS=No;FI=66865213;|PA;IT=LTPA1392778129;OR=3;ID=1392778129;ID=1392778129;OD=1/16;BS=No;FI=66857723;|MA;ID=1057;OR=5;IT=LTMASTH5;SY=CKB;PY=ckb;NA=Grupo B,P,W,D,L,GS,+/-,Pts;|PA;ID=308;NA=1,Paris St. Germain,3,3,0,0,12,12,9;OR=0;PD=;IT=LTPA308;ED=;EX=1;SU=0;|PA;ID=259;NA=2,Bayern de Múnich,3,2,0,1,6,3,6;OR=1;PD=;IT=LTPA259;ED=;EX=0;SU=0;|PA;ID=69;NA=3,Celtic,3,1,0,2,3,-5,3;OR=2;PD=;IT=LTPA69;ED=;EX=1;SU=0;|PA;ID=137;NA=4,Anderlecht,3,0,0,3,0,-10,0;OR=3;PD=;IT=LTPA137;ED=;EX=1;SU=0;|MA;ID=78;OR=6;D1=0;SY=CKC;PY=b;IT=LTMA78-6;GR=202416;NA=Ganador del grupo;|PA;IT=LTPA1384819985;OR=0;ID=1384819985;ID=1384819985;OD=1/10;BS=Paris St. Germain;FI=66713180;|PA;IT=LTPA1384819982;OR=1;ID=1384819982;ID=1384819982;OD=6/1;BS=Bayern de Múnich;FI=66713180;|PA;IT=LTPA1384819989;OR=2;ID=1384819989;ID=1384819989;OD=500/1;BS=Celtic;FI=66713180;|PA;IT=LTPA1384819986;OR=3;ID=1384819986;ID=1384819986;OD=4500/1;BS=Anderlecht;FI=66713180;|MA;ID=50479;OR=7;D1=1;SY=CKC;PY=b;IT=LTMA50479-7;GR=202416;NA=Se clasificará;|PA;IT=LTPA1393293759;OR=0;ID=1393293759;ID=1393293759;OD=1/1000;BS=Sí;FI=66865215;|PA;IT=LTPA1393293757;OR=1;ID=1393293757;ID=1393293757;OD=1/40;BS=Sí;FI=66865214;|PA;IT=LTPA1393293761;OR=2;ID=1393293761;ID=1393293761;OD=14/1;BS=Sí;FI=66865216;|PA;IT=LTPA1392778130;OR=3;ID=1392778130;ID=1392778130;OD=100/1;BS=Sí;FI=66857724;|MA;ID=50479;OR=8;D1=2;SY=CKC;PY=b;IT=LTMA50479-8;GR=202416;NA=No clasificará;|PA;IT=LTPA1393293760;OR=0;ID=1393293760;ID=1393293760;OD=100/1;BS=No;FI=66865215;|PA;IT=LTPA1393293758;OR=1;ID=1393293758;ID=1393293758;OD=14/1;BS=No;FI=66865214;|PA;IT=LTPA1393293764;OR=2;ID=1393293764;ID=1393293764;OD=1/40;BS=No;FI=66865216;|PA;IT=LTPA1392778131;OR=3;ID=1392778131;ID=1392778131;OD=1/1000;BS=No;FI=66857724;|MA;ID=1057;OR=9;IT=LTMASTH9;SY=CKB;PY=ckb;NA=Grupo C,P,W,D,L,GS,+/-,Pts;|PA;ID=175;NA=1,Chelsea,3,2,1,0,11,7,7;OR=0;PD=;IT=LTPA175;ED=;EX=1;SU=0;|PA;ID=391;NA=2,Roma,3,1,2,0,5,1,5;OR=1;PD=;IT=LTPA391;ED=;EX=0;SU=0;|PA;ID=374;NA=3,Atlético de Madrid,3,0,2,1,1,-1,2;OR=2;PD=;IT=LTPA374;ED=;EX=1;SU=0;|PA;ID=16255;NA=4,FK Qarabag,3,0,1,2,1,-7,1;OR=3;IT=LTPA16255;ED=;EX=1;SU=0;|MA;ID=78;OR=10;D1=0;SY=CKC;PY=b;IT=LTMA78-10;GR=202417;NA=Ganador del grupo;|PA;IT=LTPA1384820016;OR=0;ID=1384820016;ID=1384820016;OD=3/10;BS=Chelsea;FI=66713181;|PA;IT=LTPA1384820035;OR=1;ID=1384820035;ID=1384820035;OD=3/1;BS=Roma;FI=66713181;|PA;IT=LTPA1384820023;OR=2;ID=1384820023;ID=1384820023;OD=9/1;BS=Atlético de Madrid;FI=66713181;|PA;IT=LTPA1384820045;OR=3;ID=1384820045;ID=1384820045;OD=500/1;BS=FK Qarabag;FI=66713181;|MA;ID=50479;OR=11;D1=1;SY=CKC;PY=b;IT=LTMA50479-11;GR=202417;NA=Se clasificará;|PA;IT=LTPA1393293765;OR=0;ID=1393293765;ID=1393293765;OD=1/25;BS=Sí;FI=66865217;|PA;IT=LTPA1393293769;OR=1;ID=1393293769;ID=1393293769;OD=4/11;BS=Sí;FI=66865219;|PA;IT=LTPA1393293767;OR=2;ID=1393293767;ID=1393293767;OD=6/4;BS=Sí;FI=66865218;|PA;IT=LTPA1393293771;OR=3;ID=1393293771;ID=1393293771;OD=50/1;BS=Sí;FI=66865220;|MA;ID=50479;OR=12;D1=2;SY=CKC;PY=b;IT=LTMA50479-12;GR=202417;NA=No clasificará;|PA;IT=LTPA1393293766;OR=0;ID=1393293766;ID=1393293766;OD=10/1;BS=No;FI=66865217;|PA;IT=LTPA1393293770;OR=1;ID=1393293770;ID=1393293770;OD=2/1;BS=No;FI=66865219;|PA;IT=LTPA1393293768;OR=2;ID=1393293768;ID=1393293768;OD=1/2;BS=No;FI=66865218;|PA;IT=LTPA1393293772;OR=3;ID=1393293772;ID=1393293772;OD=1/500;BS=No;FI=66865220;|MA;ID=1057;OR=13;IT=LTMASTH13;SY=CKB;PY=ckb;NA=Grupo D,P,W,D,L,GS,+/-,Pts;|PA;ID=138;NA=1,Barcelona,3,3,0,0,7,6,9;OR=0;PD=;IT=LTPA138;ED=;EX=1;SU=0;|PA;ID=392;NA=2,Juventus,3,2,0,1,4,0,6;OR=1;PD=;IT=LTPA392;ED=;EX=0;SU=0;|PA;ID=272;NA=3,Sporting de Lisboa,3,1,0,2,4,-1,3;OR=2;PD=;IT=LTPA272;ED=;EX=1;SU=0;|PA;ID=549;NA=4,Olympiacos,3,0,0,3,3,-5,0;OR=3;PD=;IT=LTPA549;ED=;EX=1;SU=0;|MA;ID=78;OR=14;D1=0;SY=CKC;PY=b;IT=LTMA78-14;GR=202418;NA=Ganador del grupo;|PA;IT=LTPA1384820093;OR=0;ID=1384820093;ID=1384820093;OD=1/16;BS=Barcelona;FI=66713182;|PA;IT=LTPA1384820082;OR=1;ID=1384820082;ID=1384820082;OD=8/1;BS=Juventus;FI=66713182;|PA;IT=LTPA1384820113;OR=2;ID=1384820113;ID=1384820113;OD=66/1;BS=Sporting de Lisboa;FI=66713182;|PA;IT=LTPA1384820106;OR=3;ID=1384820106;ID=1384820106;OD=4500/1;BS=Olympiacos;FI=66713182;|MA;ID=50479;OR=15;D1=1;SY=CKC;PY=b;IT=LTMA50479-15;GR=202418;NA=Se clasificará;|PA;IT=LTPA1393293775;OR=0;ID=1393293775;ID=1393293775;OD=1/500;BS=Sí;FI=66865221;|PA;IT=LTPA1393293777;OR=1;ID=1393293777;ID=1393293777;OD=1/12;BS=Sí;FI=66865223;|PA;IT=LTPA1393293811;OR=2;ID=1393293811;ID=1393293811;OD=7/1;BS=Sí;FI=66865224;|PA;IT=LTPA1393293851;OR=3;ID=1393293851;ID=1393293851;OD=50/1;BS=Sí;FI=66865225;|MA;ID=50479;OR=16;D1=2;SY=CKC;PY=b;IT=LTMA50479-16;GR=202418;NA=No clasificará;|PA;IT=LTPA1393293776;OR=0;ID=1393293776;ID=1393293776;OD=50/1;BS=No;FI=66865221;|PA;IT=LTPA1393293784;OR=1;ID=1393293784;ID=1393293784;OD=7/1;BS=No;FI=66865223;|PA;IT=LTPA1393293826;OR=2;ID=1393293826;ID=1393293826;OD=1/12;BS=No;FI=66865224;|PA;IT=LTPA1393293861;OR=3;ID=1393293861;ID=1393293861;OD=1/500;BS=No;FI=66865225;|MA;ID=1057;OR=17;IT=LTMASTH17;SY=CKB;PY=ckb;NA=Grupo E,P,W,D,L,GS,+/-,Pts;|PA;ID=4;NA=1,Liverpool,3,1,2,0,10,7,5;OR=0;PD=;IT=LTPA4;ED=;EX=1;SU=0;|PA;ID=7393;NA=2,Spartak Moscú,3,1,2,0,7,4,5;OR=1;PD=;IT=LTPA7393;ED=;EX=0;SU=0;|PA;ID=445;NA=3,Sevilla,3,1,1,1,6,-1,4;OR=2;PD=;IT=LTPA445;ED=;EX=1;SU=0;|PA;ID=128;NA=4,NK Maribor,3,0,1,2,1,-10,1;OR=3;PD=;IT=LTPA128;ED=;EX=1;SU=0;|MA;ID=78;OR=18;D1=0;SY=CKC;PY=b;IT=LTMA78-18;GR=202419;NA=Ganador del grupo;|PA;IT=LTPA1384820185;OR=0;ID=1384820185;ID=1384820185;OD=8/13;BS=Liverpool;FI=66713183;|PA;IT=LTPA1384820137;OR=1;ID=1384820137;ID=1384820137;OD=3/1;BS=Spartak Moscú;FI=66713183;|PA;IT=LTPA1384820153;OR=2;ID=1384820153;ID=1384820153;OD=3/1;BS=Sevilla;FI=66713183;|PA;IT=LTPA1384820204;OR=3;ID=1384820204;ID=1384820204;OD=1000/1;BS=NK Maribor;FI=66713183;|MA;ID=50479;OR=19;D1=1;SY=CKC;PY=b;IT=LTMA50479-19;GR=202419;NA=Se clasificará;|PA;IT=LTPA1393293886;OR=0;ID=1393293886;ID=1393293886;OD=1/14;BS=Sí;FI=66865226;|PA;IT=LTPA1393293917;OR=1;ID=1393293917;ID=1393293917;OD=4/5;BS=Sí;FI=66865228;|PA;IT=LTPA1393293915;OR=2;ID=1393293915;ID=1393293915;OD=8/13;BS=Sí;FI=66865227;|PA;IT=LTPA1393293919;OR=3;ID=1393293919;ID=1393293919;OD=50/1;BS=Sí;FI=66865230;|MA;ID=50479;OR=20;D1=2;SY=CKC;PY=b;IT=LTMA50479-20;GR=202419;NA=No clasificará;|PA;IT=LTPA1393293900;OR=0;ID=1393293900;ID=1393293900;OD=7/1;BS=No;FI=66865226;|PA;IT=LTPA1393293918;OR=1;ID=1393293918;ID=1393293918;OD=10/11;BS=No;FI=66865228;|PA;IT=LTPA1393293916;OR=2;ID=1393293916;ID=1393293916;OD=6/5;BS=No;FI=66865227;|PA;IT=LTPA1393293920;OR=3;ID=1393293920;ID=1393293920;OD=1/500;BS=No;FI=66865230;|MA;ID=1057;OR=21;IT=LTMASTH21;SY=CKB;PY=ckb;NA=Grupo F,P,W,D,L,GS,+/-,Pts;|PA;ID=6;NA=1,Manchester City,3,3,0,0,8,7,9;OR=0;PD=;IT=LTPA6;ED=;EX=1;SU=0;|PA;ID=164;NA=2,Shakhtar Donetsk,3,2,0,1,4,0,6;OR=1;IT=LTPA164;ED=;EX=0;SU=0;|PA;ID=7193;NA=3,Napoli,3,1,0,2,5,0,3;OR=2;PD=;IT=LTPA7193;ED=;EX=1;SU=0;|PA;ID=297;NA=4,Feyenoord,3,0,0,3,2,-7,0;OR=3;PD=;IT=LTPA297;ED=;EX=1;SU=0;|MA;ID=78;OR=22;D1=0;SY=CKC;PY=b;IT=LTMA78-22;GR=202420;NA=Ganador del grupo;|PA;IT=LTPA1384820282;OR=0;ID=1384820282;ID=1384820282;OD=1/16;BS=Manchester City;FI=66713184;|PA;IT=LTPA1384820272;OR=1;ID=1384820272;ID=1384820272;OD=10/1;BS=Shakhtar Donetsk;FI=66713184;|PA;IT=LTPA1384820298;OR=2;ID=1384820298;ID=1384820298;OD=11/1;BS=Napoli;FI=66713184;|PA;IT=LTPA1384820308;OR=3;ID=1384820308;ID=1384820308;OD=4500/1;BS=Feyenoord;FI=66713184;|MA;ID=50479;OR=23;D1=1;SY=CKC;PY=b;IT=LTMA50479-23;GR=202420;NA=Se clasificará;|PA;IT=LTPA1393293935;OR=0;ID=1393293935;ID=1393293935;OD=1/200;BS=Sí;FI=66865231;|PA;IT=LTPA1393293941;OR=1;ID=1393293941;ID=1393293941;OD=4/5;BS=Sí;FI=66865233;|PA;IT=LTPA1393293937;OR=2;ID=1393293937;ID=1393293937;OD=4/5;BS=Sí;FI=66865232;|PA;IT=LTPA1393293943;OR=3;ID=1393293943;ID=1393293943;OD=50/1;BS=Sí;FI=66865234;|MA;ID=50479;OR=24;D1=2;SY=CKC;PY=b;IT=LTMA50479-24;GR=202420;NA=No clasificará;|PA;IT=LTPA1393293936;OR=0;ID=1393293936;ID=1393293936;OD=25/1;BS=No;FI=66865231;|PA;IT=LTPA1393293942;OR=1;ID=1393293942;ID=1393293942;OD=10/11;BS=No;FI=66865233;|PA;IT=LTPA1393293938;OR=2;ID=1393293938;ID=1393293938;OD=10/11;BS=No;FI=66865232;|PA;IT=LTPA1393293944;OR=3;ID=1393293944;ID=1393293944;OD=1/500;BS=No;FI=66865234;|MA;ID=1057;OR=25;IT=LTMASTH25;SY=CKB;PY=ckb;NA=Grupo G,P,W,D,L,GS,+/-,Pts;|PA;ID=413;NA=1,Besiktas,3,3,0,0,7,5,9;OR=0;IT=LTPA413;ED=;EX=1;SU=0;|PA;ID=18320;NA=2,RB Leipzig,3,1,1,1,4,-1,4;OR=1;PD=;IT=LTPA18320;ED=;EX=0;SU=0;|PA;ID=136;NA=3,FC Porto,3,1,0,2,6,0,3;OR=2;PD=;IT=LTPA136;ED=;EX=1;SU=0;|PA;ID=312;NA=4,Mónaco,3,0,1,2,2,-4,1;OR=3;PD=;IT=LTPA312;ED=;EX=1;SU=0;|MA;ID=78;OR=26;D1=0;SY=CKC;PY=b;IT=LTMA78-26;GR=202421;NA=Ganador del grupo;|PA;IT=LTPA1384820332;OR=0;ID=1384820332;ID=1384820332;OD=3/10;BS=Besiktas;FI=66713185;|PA;IT=LTPA1384820336;OR=1;ID=1384820336;ID=1384820336;OD=4/1;BS=RB Leipzig;FI=66713185;|PA;IT=LTPA1384820331;OR=2;ID=1384820331;ID=1384820331;OD=11/2;BS=FC Porto;FI=66713185;|PA;IT=LTPA1384820330;OR=3;ID=1384820330;ID=1384820330;OD=250/1;BS=Mónaco;FI=66713185;|MA;ID=50479;OR=27;D1=1;SY=CKC;PY=b;IT=LTMA50479-27;GR=202421;NA=Se clasificará;|PA;IT=LTPA1393293957;OR=0;ID=1393293957;ID=1393293957;OD=1/16;BS=Sí;FI=66865239;|PA;IT=LTPA1393293947;OR=1;ID=1393293947;ID=1393293947;OD=8/11;BS=Sí;FI=66865236;|PA;IT=LTPA1393293949;OR=2;ID=1393293949;ID=1393293949;OD=1/1;BS=Sí;FI=66865238;|PA;IT=LTPA1393293945;OR=3;ID=1393293945;ID=1393293945;OD=7/1;BS=Sí;FI=66865235;|MA;ID=50479;OR=28;D1=2;SY=CKC;PY=b;IT=LTMA50479-28;GR=202421;NA=No clasificará;|PA;IT=LTPA1393293958;OR=0;ID=1393293958;ID=1393293958;OD=8/1;BS=No;FI=66865239;|PA;IT=LTPA1393293948;OR=1;ID=1393293948;ID=1393293948;OD=1/1;BS=No;FI=66865236;|PA;IT=LTPA1393293950;OR=2;ID=1393293950;ID=1393293950;OD=8/11;BS=No;FI=66865238;|PA;IT=LTPA1393293946;OR=3;ID=1393293946;ID=1393293946;OD=1/14;BS=No;FI=66865235;|MA;ID=1057;OR=29;IT=LTMASTH29;SY=CKB;PY=ckb;NA=Grupo H,P,W,D,L,GS,+/-,Pts;|PA;ID=372;NA=1,Real Madrid,3,2,1,0,7,5,7;OR=0;PD=;IT=LTPA372;ED=;EX=1;SU=0;|PA;ID=180;NA=2,Tottenham,3,2,1,0,7,5,7;OR=1;PD=;IT=LTPA180;ED=;EX=0;SU=0;|PA;ID=135;NA=3,Borussia Dortmund,3,0,1,2,3,-4,1;OR=2;PD=;IT=LTPA135;ED=;EX=1;SU=0;|PA;ID=667;NA=4,Apoel Nicosia,3,0,1,2,1,-6,1;OR=3;IT=LTPA667;ED=;EX=1;SU=0;|MA;ID=78;OR=30;D1=0;SY=CKC;PY=b;IT=LTMA78-30;GR=202422;NA=Ganador del grupo;|PA;IT=LTPA1384820369;OR=0;ID=1384820369;ID=1384820369;OD=2/5;BS=Real Madrid;FI=66713187;|PA;IT=LTPA1384820400;OR=1;ID=1384820400;ID=1384820400;OD=7/4;BS=Tottenham;FI=66713187;|PA;IT=LTPA1384820387;OR=2;ID=1384820387;ID=1384820387;OD=150/1;BS=Borussia Dortmund;FI=66713187;|PA;IT=LTPA1384820417;OR=3;ID=1384820417;ID=1384820417;OD=4500/1;BS=Apoel Nicosia;FI=66713187;|MA;ID=50479;OR=31;D1=1;SY=CKC;PY=b;IT=LTMA50479-31;GR=202422;NA=Se clasificará;|PA;IT=LTPA1393293959;OR=0;ID=1393293959;ID=1393293959;OD=1/100;BS=Sí;FI=66865240;|PA;IT=LTPA1393293963;OR=1;ID=1393293963;ID=1393293963;OD=1/25;BS=Sí;FI=66865242;|PA;IT=LTPA1393293961;OR=2;ID=1393293961;ID=1393293961;OD=8/1;BS=Sí;FI=66865241;|PA;IT=LTPA1393293965;OR=3;ID=1393293965;ID=1393293965;OD=100/1;BS=Sí;FI=66865243;|MA;ID=50479;OR=32;D1=2;SY=CKC;PY=b;IT=LTMA50479-32;GR=202422;NA=No clasificará;|PA;IT=LTPA1393293960;OR=0;ID=1393293960;ID=1393293960;OD=20/1;BS=No;FI=66865240;|PA;IT=LTPA1393293964;OR=1;ID=1393293964;ID=1393293964;OD=10/1;BS=No;FI=66865242;|PA;IT=LTPA1393293962;OR=2;ID=1393293962;ID=1393293962;OD=1/16;BS=No;FI=66865241;|PA;IT=LTPA1393293966;OR=3;ID=1393293966;ID=1393293966;OD=1/1000;BS=No;FI=66865243;|</script></div>
			         
    </div>

<span id="loadChk"></span> 