<!DOCTYPE HTML>
<html ng-app="App">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<head>
		<title>Quinielator</title>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="ng-table/ng-table.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
	
		<div id = "encabezado"> 
			<div id="imagen_ppal-menu">
				<center><A target=_blank><IMG id="logo" SRC="http://www.lavanguardia.com/r/GODO/LV/p3/WebSite/2016/10/22/Recortada/LV_20151011_LV_LOTERIAS_D_54438039708-kzzG-U411224339435AWH-992x558@LaVanguardia-Web.jpg" heigth="10%" width="10%"></A></center>
			</div>
			
			<ul class="menu_principal" id="menu">
				<li><a href="/">Inicio</a></li>
				<li><a href="resultados.html" target="_blank">Resultados</a></li>
				<li><a href="#Ayuda">Ayuda?</a></li>
			</ul>
		</div>
	
		<div class="container" ng-controller="Controller">
			<h2>Quinielator</h2>

			<div class="well col-md-12">
				<form name="sendForm" ng-submit="submitForm(sendForm.$valid)" novalidate>
					
					<div class="row">
						
						<div class="form-group col-md-10">
							<b>Key de Bet365</b>
							<input type="text" name="inputKey" ng-model="inputKey" ng-change="adjustKey(inputKey)" class="form-control" name="inputKey" placeholder="https://mobile.bet365.es/default.aspx#type=Coupon;key=1-1-13-34343042-2-3-0-0-1-0-0-4100-0-0-1-0-0-0-0-0-0" required>
							<p ng-show="sendForm.inputKey.$invalid" class="help-block">Pon un key chichón!</p>
						</div>
						
						<div class="form-group col-md-2">
							<b>Jornada</b>
							<input type="number" ng-model="inputJornada" class="form-control" name="inputJornada" required>
							<p ng-show="sendForm.inputJornada.$invalid" class="help-block">Chacho!</p>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-5">
							<b>Competición</b>
							<select class="form-control" name="selectCompetition" ng-model="selectCompetition" required>
								<option value="0">1ª División España</option>
								<option value="1">2ª División España</option>
								<option value="2">UEFA Champions League</option>
							</select>
						</div>
						
						<div class="form-group col-md-3">
							<button type="submit" class="btn btn-primary pull-right" ng-disabled="sendForm.$invalid">Scrap it!</button>
						</div>
					</div>
				</form>	
			</div>

			<div class="row col-md-12">
				<div class="col-md-7">
					<h3>Bet365<small>
						<label for="colorful">Colorful!</label>
						<input id="colorful" name="colorful" type="checkbox" ng-model="colorful" ng-checked="colorful">
					</small></h3>
					<table ng-table="bet365TableParams" class="table table-bordered" show-filter="false">
						<tr ng-repeat="x in $data">	
							<td data-title="'Fecha'" ng-attr-title="{{x.fromnow}}" sortable="'tsdate'">
								{{ x.date }}</td>
							<td title="'Local'" sortable="'teams.team1'">
								{{x.teams.team1}}</td>
							<td title="'1'" sortable="'odds.odds1'" ng-class="{'bg-danger':(colorful && x.odds.odds1 < 33), 'bg-success':(colorful && x.odds.odds1 > 66)}">
								{{x.odds.odds1}}</td>
							<td title="'X'" sortable="'odds.oddsX'" ng-class="{'bg-danger':(colorful && x.odds.oddsX < 33), 'bg-success':(colorful && x.odds.oddsX > 66)}">
								{{x.odds.oddsX}}</td>
							<td title="'2'" sortable="'odds.odds2'" ng-class="{'bg-danger':(colorful && x.odds.odds2 < 33), 'bg-success':(colorful && x.odds.odds2 > 66)}">
								{{x.odds.odds2}}</td>
							<td title="'Visitante'" sortable="'teams.team2'">
								{{x.teams.team2}}</td>
						</tr>
					</table>
				</div>
				<div class="col-md-5">
					<h3>SoccerWay</h3>
					<table ng-table="soccerWayTableParams" class="table table-bordered table-striped" show-filter="false">
						<tr ng-repeat="x in $data">	
							<td data-title="'Fecha'" ng-attr-title="{{x.fromnow}}"  sortable="'tsdate'">
								{{x.date}}</td>
							<td title="'Partido'">
								<a href="{{x.url}}" target="_blank">{{x.team1}} vs {{x.team2}}</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
	<script src="angular/angular.min.js"></script>
	<script src="ng-table/ng-table.min.js"></script>
	<script src="app.js"></script>
</html>