html, body {
	height: 100%;
	margin: 0;
	width: 100%;
	position:relative;
} 

#imagen_ppal-menu {
	/*width: 100%;
	/* background: white; */
    border: 1px solid #ddd; /* color del borde, debe ser más claro que fondo 
	/* background:#fff; /* Fondo */ 
	box-shadow:inset 4px 4px 6px rgba(120, 120, 120, .4), inset -4px -4px 6px rgba(120, 120, 120, .4);
	padding-top: 6px;
	padding-bottom: 6px;
}

#menu {
	margin: 0 auto;
}

/* Remove margins and padding from the list, and add a black background color */
ul.menu_principal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #708090;
	width: 100%;
}

/* Float the list items side by side */
ul.menu_principal li {
	float: left;
	width: 12.50%;
	text-align: center;
}

/* Style the links inside the list items */
ul.menu_principal li a {
    display: inline-block;
    color: #90EE90;
    /*text-align: center;*/
    padding: 12px 19.5px 12px 19.5px;
    text-decoration: none;
	font-weight: bold;
}

/* Change background color of links on hover */
ul.menu_principal li a:hover {
	background-color: 	#006400;
	color:  #708090;
	padding: 12px 19.5px 12px 19.5px;
	font-weight: bold;
	width: 100%;
}


/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.menu_principal li.icon {display: none;}

ul.menu_principal li ul {
	/*estilo de los submenus*/
	width:10.1%;
	background-color: #708090;
	border:1px #ccc solid;
	list-style-type: none;
	display:none; /*importante para que los submenus no estén visibles*/
	position:absolute;
	z-index:999;
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 0.85em;

/*	list-style-type: none;
    
    padding: 0;

    display:none;
	position:absolute;
	min-width: 140px;
	z-index: 2;*/
}

ul.menu_principal li:hover > ul {
	display:block;
}

ul.menu_principal li ul li {
	position:relative;
	float: left;
	list-style:none;
	text-align: left;
	display:block;
	width: 100%;
}